* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.option {
  font-family: Arial, Helvetica, sans-serif;
}

.link {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: "black";
}

.link:hover {
  text-decoration: underline;
}

.link:visited {
  color: black;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke .6s cubic-bezier(0.650, 0.000, 0.450, 1.000) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .3s cubic-bezier(0.650, 0.000, 0.450, 1.000) .8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {

  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

.fade-in-text {
  font-family: Arial;
  font-size: 150px;
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.buttonLogin {
  padding:6px 8px;
  border-radius: 50px;
  width: 100%;
  background-color: #F2994A;
  border-radius: 20;
  width: 80%;
  margin: auto;
}

.buttonLogin:hover {
  background-color: #E46B00;
  cursor: pointer;
}

.css-heg063-MuiTabs-flexContainer{
  justify-content: center!important;
}

.css-13r6wwk-MuiButtonBase-root-MuiTab-root.Mui-selected{
  color: black!important;
}
